
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=MedievalSharp&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 900;  
    font-family: "Charmonman", cursive;
}
body{
    background-image: url("./Harry-Potter2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
table{
    border-radius: 15px;
    color: black;
    font-size: 12px;
    padding: 50px 10px;
}
td{
    border: 2px solid #85662d;
    text-align: center;
}
th{
    color: black;
    border-radius: 8px;
}
@media only screen and (min-width: 40em) {    
    body{
        background-image: url("./Harry-Potter1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: 90px;
        margin-left: 220px;
    }
    table{
        border-radius: 15px;
        color: black;
        font-size: 20px;
        padding: 0;
    }
    td{
        border: 2px solid #85662d;
        text-align: center;
        padding: 5px; 
    }
    th{
        color: black;
        font-size: 25px;
        border-radius: 8px;
    }
    }